
.logo
{ border: 10px solid black;
border-radius: 40px;
font-family: 'Samarkan', sans-serif;
background-color: #009567;
box-shadow: 30px;}
body {
  background-color:#aed6dc;
  /* Keep the inherited background full size. */
  background-attachment: fixed; 
  background-size: cover;
  display: grid;
  height: 100vh;
}

.container {
  width: 1000px;
  height: 180px;
  align: top;
  margin: 0px 0px 30px 0pxS;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin: 10px,auto;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}
.1
{width: 100;
margin: 10px,auto;}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #4a536b;
  overflow: hidden;
  border-radius: 30px;
  height: 129px;
  position: sticky;
  top: 0;
   z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  align-content: stretch;
  text-align: center;
  padding: 30px 60px 30px 60px;
  margin: 8px 10px 5px 10px;
  border-spacing: auto;
  text-decoration: none;
  font-size: 40px;
  opacity: 0.7;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
  border-radius: 30px;
  transform: scale(1.00001);
  margin: 10px 10px 10px 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 30px;
  margin: 10px 10px 10px 10px;
}
.zoom {
  padding: 50px;
  transition: transform .5s; /* Animation */
  margin: 0 auto;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #lightcoral;
    font-size: 50px;
}


.area{
    background: #aed6dc;  
   /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  */
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

